.number-group{
	position: relative;
 	text-align: center;
 	vertical-align: bottom;
	user-select: none;
	font-size: 1.1vw;
 	font-family: arial;
	transition: 0.5s;
	z-index: 4;
}
.number-period{
	position: relative;
 	text-align: right;
 	user-select: none;
 	padding-right: 3px;
 	font-size: 1.1vw;
 	font-family: arial;
 	transition: 0.5s;
	z-index: 4;
}
.number-period.active, .number-group.active{
	font-weight: 1000;
}
.LA{
 	text-align: right;
 	font-size: 30px;
 	color: green;
}
@media screen and (max-width: 880px) {
	#tableMendeleev{
		width: 890px;
	}
} 