.alert{
	position: fixed;
	background: #dfe6e9;
	padding: 10px;
	z-index: 100;
	margin: 0 10px 0 10px;
	border: 4px solid #2d3436;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	&:before{
		content: "";
		width: 0; 
		height: 0;
		position: absolute;
		top: -4px;
	}
	&.right{
		border-radius: 0 10px 10px 10px;
	}
	&.left{
		border-radius: 10px 0 10px 10px;
	}
	&.right:before{
		right: 100%;
		border-top: 17px solid transparent;
		border-right: 17px solid #2d3436;
		border-bottom: 17px solid transparent;
	}
	&.left:before{
		left: 100%; 
		border-top: 17px solid transparent;
		border-left: 17px solid #2d3436;
		border-bottom: 17px solid transparent
	}
}
.period-text, .group-text{
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	h2{
		margin: 0 0 10px 0;
		font-family: Lora;
		font-weight: bold;
		font-size: 22px;
	}
	ol{
		list-style: decimal;
		list-style-position: inside;
	}
}