header {
	height: 50px;
	width: 100%;
	min-width: 884px;
	background: #2d3436;
	position: fixed;
	z-index: 100;
	display: flex;
	align-items: center;
	transition: 0.2s;
	top: -50px;
	box-shadow: 0 0 5px grey;
}
header.active {
	top: 0;
}
header.picker-active {
	top: 0;
}
#header-toggle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	background: #00181f;
	padding: 2px;
	cursor: pointer;
	svg {
		width: 72px;
		fill: #dfe6e9;
	}
}
#storege-menu-links {
	display: none;
	top: 50px;
	background-color: #2f353b;
	position: absolute;
	transition: 1s;
	z-index: 99;
	width: 300px;
	ol {
		list-style: none;
	}
	a {
		text-align: center;
		padding: 15px 0 15px 0;
		text-decoration: none;
		display: block;
		width: 100%;
		color: #b2bec3;
		border-bottom: 1px solid #636e72;
		border-top: 1px solid #636e72;
		transition: 0.2s;
		&:hover {
			background-color: #636e72;
			color: white;
		}
	}
}
.name-sait {
	font-size: 20px;
	color: #dfe6e9;
	text-decoration: none;
	position: relative;
	&::before {
		content: "";
		bottom: 0;
		left: 0;
		position: absolute;
		width: 0;
		height: 2px;
		background-color: #dfe6e9;
		transition: 0.2s;
	}
	&:hover::before {
		width: 100%;
	}
}
#open-calculator {
	position: relative;
	margin-left: auto;
	margin-right: 10px;
	font-size: 20px;
	color: #dfe6e9;
	cursor: pointer;
	&::before {
		content: "";
		bottom: 0;
		left: 0;
		position: absolute;
		width: 0;
		height: 2px;
		background-color: #dfe6e9;
		transition: 0.2s;
	}
	&:hover::before {
		width: 100%;
	}
}
#button-color-picker {
	background: #fe83b5;
	width: 80px;
	height: 40px;
	box-sizing: border-box;
	border: 2px solid black;
	margin-right: 25px;
	text-align: center;
	line-height: 32px;
	font-size: 20px;
	font-family: Arial;
	color: #fff;
	text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
	user-select: none;
	cursor: pointer;
}

.menu-icon-dash {
	fill: #dfe6e9;
	transform-origin: 50% 50%;
	opacity: 100;
	transition: transform .3s, opacity .3s;
}

#menu-icon {
	margin: 0 10px;
	width: 40px;
	height: 40px;
}

#menu-icon:hover {
	cursor: pointer;
}

#menu.menuexpanded{
	#storege-menu-links{
		display: block;
	}
}

.menuexpanded #menu-icon{
	#dash-top {
		transform: translateY(16.75%) translateX(-16.9%) rotate(45deg);
	}
	#dash-bottom {
		transform: translateY(16.75%) translateX(16.9%) rotate(135deg);
	}
	#dash-middle {
		transform: rotate(135deg);
		opacity: 0;
	}
}