#app {
	width: 100%;
	display: flex;
	justify-content: center;
}
#legend{
	top: 1vw;
	left: 14.5%;
	position: absolute;
	width: 49%;
	padding: 0 3px 0 3px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	transition: left 1s ease-in;
	z-index: 40;
	&.shortTable{
		top: 2vw;
		width: 13%;
		left: 80%;
		.legend-inf{
			display: none;
		}
		#element-legend{
			width: 100%;
		}
	}

}

#element-legend{
	width: 25%;
	box-sizing: border-box;
	height: 14vw;
	border: 0.22vw solid #2d3436;
	border-radius: 12px;
	box-sizing: border-box;
	font-size: 0.13vw;
	display: flex;
	padding: 4px;
	flex-wrap: wrap;
	position: relative;
}
.legend-inf{
	width: 70%;
	height: 14vw;
	border: 0.22vw solid #2d3436;
	background: #edf3f1;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 4px;
	box-sizing: border-box;
	overflow-y: auto;
	scrollbar-width: thin;
	&::-webkit-scrollbar{
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: #00181f; 
	}
	&::-webkit-scrollbar-track{
		margin: 10px 0;
	}
	.help{
		font-size: 18px;
		font-family: Roboto;
		h2{
			font-family: Lora;
			font-size: 28px;
			text-align: center;
		}
		ol{
			list-style: decimal;
		}
	}
}
.legend-inf p {
	margin: 3px 0 3px 0;
}

#IPTCE{
	position: absolute;
	font-size: 5vw;
	left: 66%;
	top: 2px;
	color: #2d3436;
	font-family: Georgia;
	transition: 1s ease-in;
	&.shortTable{
		left: 30%;
		top: 12px;
		border: 1px 0 solid black;
	}
}

@media screen and (max-width: 880px) {
	#element-legend, .legend-inf {
		height: 140px;
	}
	#element-legend{
		font-size: 1.144px;
	}
}

.menu-icon-dash {
	fill: #dfe6e9;
	transform-origin: 50% 50%;
	opacity: 100;
	transition: transform .3s, opacity .3s;
}

#menu-icon {
	margin: 0 10px;
	width: 40px;
	height: 40px;
}

#menu-icon:hover {
	cursor: pointer;
}

.menuexpanded {
	#dash-top {
		transform: translateY(16.75%) translateX(-16.9%) rotate(45deg);
	}
	#dash-bottom {
		transform: translateY(16.75%) translateX(16.9%) rotate(135deg);
	}
	#dash-middle {
		transform: rotate(135deg);
		opacity: 0;
	}
}