<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Интерактивная периодическая система элементов</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/alert.css">
	<link rel="stylesheet" type="text/css" href="css/chemicalElement.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/tableMendeleev.css">
	<link rel="stylesheet" type="text/css" href="css/legend.css">
	<link rel="stylesheet" type="text/css" href="css/picker.css">
	<link rel="stylesheet" type="text/css" href="css/modalWindow.css">
	<link rel="stylesheet" type="text/css" href="css/calculator.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<header>
		<div id="header-toggle" onclick="this.parentElement.classList.toggle('active')"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 260" xml:space="preserve"><rect x="0" y="213.333" width="1000" height="42.667"/><rect x="0" y="106.667" width="1000" height="42.667"/><rect x="0" y="0" width="1000" height="42.667"/></svg></div>
		<div id="menu">
			<svg version="1.1" id="button-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	  viewBox="0 0 124 124" xml:space="preserve">
				<g>
					<path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z"/>
					<path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z"/>
					<path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z"/>
				</g>
			</svg>

			<div id="storege-menu-links">
				<ol>
					<li><a href="#">Таблица Менделеева</a></li>
					<li><a href="tableSolubility.html">Таблица растворимости</a></li>
				</ol>
			</div>
		</div>
		<a class="name-sait" href="#">ChemistryAssistant.ru</a>
		<p id="open-calculator" title="Открыть на этой странице" onclick="createCalculator()">Калькулятор</p>
		<div id="button-color-picker" class="s" onclick="toggleColorPicker()">s p d f</div>
	</header>

	<div id="color-selection">
		<div class="picker" id="primary_block">

			<div id="block_picker">

				<img src="https://lh3.googleusercontent.com/-8Dm4nhAOssQ/T_IqwyIFXmI/AAAAAAAAACA/4QKmS7s_otE/s256/bgGradient.png" class="bk_img"  alt=""><div class="circle" id="circle"></div>

			</div>

			<div id="line">
				<div id="arrows">
					<div class="left_arrow"></div>
					<div class="right_arrow"></div>
				</div>
			</div>

		</div>

		<div id="colors">
			<ol>
				<li class="s active" style="background: #fe83b5;" onclick="change(this)">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="9px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 497.4" style="enable-background:new 0 0 612 497.4;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><path class="st0" d="M561.5,51.5c15.3,15.5,15.3,40.8,0,56.3c0,0-326.3,332.8-331.5,338c-15.3,15.5-40,15.5-55.3,0c0,0-125.1-127.6-125.5-128c-14.1-15.6-13.7-40,1.2-55.1c15.2-15.6,40-15.6,55.2,0l96.7,98.6L506.3,51.5C521.5,36,546.2,36,561.5,51.5z"/><path d="M589.1,23.3c30.5,31.1,30.5,81.6,0,112.7l-331.4,338c-30.5,31.1-80,31.1-110.5,0L22.9,347.3c-30.5-31.1-30.5-81.6,0-112.7c30.5-31.1,80-31.1,110.5,0l69.1,70.4L478.6,23.3C509.1-7.8,558.6-7.8,589.1,23.3z M561.5,107.9c15.3-15.6,15.3-40.8,0-56.3c-15.3-15.6-40-15.6-55.3,0L202.4,361.4l-96.7-98.6c-15.3-15.6-40-15.6-55.2,0c-14.9,15.2-15.3,39.5-1.2,55.1c0.4,0.4,125.5,128,125.5,128c15.3,15.5,40,15.5,55.3,0C235.2,440.7,561.5,107.9,561.5,107.9z"/></svg>
				</li>

				<li class="d" style="background: #5ca7e0;" onclick="change(this)">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="9px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 497.4" style="enable-background:new 0 0 612 497.4;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><path class="st0" d="M561.5,51.5c15.3,15.5,15.3,40.8,0,56.3c0,0-326.3,332.8-331.5,338c-15.3,15.5-40,15.5-55.3,0c0,0-125.1-127.6-125.5-128c-14.1-15.6-13.7-40,1.2-55.1c15.2-15.6,40-15.6,55.2,0l96.7,98.6L506.3,51.5C521.5,36,546.2,36,561.5,51.5z"/><path d="M589.1,23.3c30.5,31.1,30.5,81.6,0,112.7l-331.4,338c-30.5,31.1-80,31.1-110.5,0L22.9,347.3c-30.5-31.1-30.5-81.6,0-112.7c30.5-31.1,80-31.1,110.5,0l69.1,70.4L478.6,23.3C509.1-7.8,558.6-7.8,589.1,23.3z M561.5,107.9c15.3-15.6,15.3-40.8,0-56.3c-15.3-15.6-40-15.6-55.3,0L202.4,361.4l-96.7-98.6c-15.3-15.6-40-15.6-55.2,0c-14.9,15.2-15.3,39.5-1.2,55.1c0.4,0.4,125.5,128,125.5,128c15.3,15.5,40,15.5,55.3,0C235.2,440.7,561.5,107.9,561.5,107.9z"/></svg>
				</li>

				<li class="p" style="background: #ffd737;" onclick="change(this)">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="9px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 497.4" style="enable-background:new 0 0 612 497.4;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><path class="st0" d="M561.5,51.5c15.3,15.5,15.3,40.8,0,56.3c0,0-326.3,332.8-331.5,338c-15.3,15.5-40,15.5-55.3,0c0,0-125.1-127.6-125.5-128c-14.1-15.6-13.7-40,1.2-55.1c15.2-15.6,40-15.6,55.2,0l96.7,98.6L506.3,51.5C521.5,36,546.2,36,561.5,51.5z"/><path d="M589.1,23.3c30.5,31.1,30.5,81.6,0,112.7l-331.4,338c-30.5,31.1-80,31.1-110.5,0L22.9,347.3c-30.5-31.1-30.5-81.6,0-112.7c30.5-31.1,80-31.1,110.5,0l69.1,70.4L478.6,23.3C509.1-7.8,558.6-7.8,589.1,23.3z M561.5,107.9c15.3-15.6,15.3-40.8,0-56.3c-15.3-15.6-40-15.6-55.3,0L202.4,361.4l-96.7-98.6c-15.3-15.6-40-15.6-55.2,0c-14.9,15.2-15.3,39.5-1.2,55.1c0.4,0.4,125.5,128,125.5,128c15.3,15.5,40,15.5,55.3,0C235.2,440.7,561.5,107.9,561.5,107.9z"/></svg>
				</li>

				<li style="overflow: hidden;">

					<div class="f-dark" style="background: #78bd62;" onclick="change(this)">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="9px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 497.4" style="enable-background:new 0 0 612 497.4;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><path class="st0" d="M561.5,51.5c15.3,15.5,15.3,40.8,0,56.3c0,0-326.3,332.8-331.5,338c-15.3,15.5-40,15.5-55.3,0c0,0-125.1-127.6-125.5-128c-14.1-15.6-13.7-40,1.2-55.1c15.2-15.6,40-15.6,55.2,0l96.7,98.6L506.3,51.5C521.5,36,546.2,36,561.5,51.5z"/><path d="M589.1,23.3c30.5,31.1,30.5,81.6,0,112.7l-331.4,338c-30.5,31.1-80,31.1-110.5,0L22.9,347.3c-30.5-31.1-30.5-81.6,0-112.7c30.5-31.1,80-31.1,110.5,0l69.1,70.4L478.6,23.3C509.1-7.8,558.6-7.8,589.1,23.3z M561.5,107.9c15.3-15.6,15.3-40.8,0-56.3c-15.3-15.6-40-15.6-55.3,0L202.4,361.4l-96.7-98.6c-15.3-15.6-40-15.6-55.2,0c-14.9,15.2-15.3,39.5-1.2,55.1c0.4,0.4,125.5,128,125.5,128c15.3,15.5,40,15.5,55.3,0C235.2,440.7,561.5,107.9,561.5,107.9z"/></svg>
					</div>

					<div class="f-light" style="background: #90cd8e;" onclick="change(this)">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="9px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 497.4" style="enable-background:new 0 0 612 497.4;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style><path class="st0" d="M561.5,51.5c15.3,15.5,15.3,40.8,0,56.3c0,0-326.3,332.8-331.5,338c-15.3,15.5-40,15.5-55.3,0c0,0-125.1-127.6-125.5-128c-14.1-15.6-13.7-40,1.2-55.1c15.2-15.6,40-15.6,55.2,0l96.7,98.6L506.3,51.5C521.5,36,546.2,36,561.5,51.5z"/><path d="M589.1,23.3c30.5,31.1,30.5,81.6,0,112.7l-331.4,338c-30.5,31.1-80,31.1-110.5,0L22.9,347.3c-30.5-31.1-30.5-81.6,0-112.7c30.5-31.1,80-31.1,110.5,0l69.1,70.4L478.6,23.3C509.1-7.8,558.6-7.8,589.1,23.3z M561.5,107.9c15.3-15.6,15.3-40.8,0-56.3c-15.3-15.6-40-15.6-55.3,0L202.4,361.4l-96.7-98.6c-15.3-15.6-40-15.6-55.2,0c-14.9,15.2-15.3,39.5-1.2,55.1c0.4,0.4,125.5,128,125.5,128c15.3,15.5,40,15.5,55.3,0C235.2,440.7,561.5,107.9,561.5,107.9z"/></svg>
					</div>

				</li>
			</ol>
		</div>
		<div id="colors-by-default" onclick="changeDefaultColors()">Восстановить по умолчанию</div>
	</div>




	<div id="app">
		<div id="IPTCE">ИПСХЭ<span style="font-size: 1vw">v0.2.6b</span></div>

		<div id="legend">
			<div id="element-legend" :class="legend.cls" :style="legend.st">
				<div class="symbol"  data-textAlert="Химический символ - сокращённое буквенное обозначение химических элементов, состоят из первой буквы или первой и одной 
	            из следующих букв латинского названия элементов" onclick="highlight('symbol')">{{ legend.sym }}</div>
				<div class="number" onclick="highlight('number')"><span data-textAlert="Атомный (порядковый) номер - номер химического элемента в периодической системе элементов. 
	            Равен числу протонов и электронов в атоме и определяет положительный заряд ядра">{{ legend.num }}</span></div>
				<div class="Ar" onclick="highlight('Ar')"><span data-textAlert="Ar - относительная атомная масса — значение массы атома, выраженное в атомных единицах массы (а.е.м)">{{ legend.Ar }}</span></div>
				<ol class="oxidation" onclick="highlight('oxidation')"><li data-textAlert='Степень окисления - вспомогательная условная величина для записи процессов окисления, восстановления и окислительно-восстановительных реакций (указан самый частый показатель)'>+4</li></ol>
				<div class="name-ru" onclick="highlight('name-ru')"><span data-textAlert="Название элемента на русском языке">{{ legend.ru }}</span></div>
				<div class="name-la" onclick="highlight('name-la')"><span data-textAlert="Название элемента на латыни">{{ legend.la }}</span></div>
			</div>

			<div class="legend-inf" v-html="legend.text"></div>
		</div>
		<div id="table" style="display: flex; width: 95%;flex-wrap: wrap;" :class="isWideTable ? 'wideTable' : 'shortTable'">
			<ol class="group">
				<li class="first"><span v-on:mouseover="createAlert($event.target.getBoundingClientRect(), 'period-info')" v-on:mouseout="deleteAlert()">1</span></li>
				<li class="tp1"><span>2</span></li>
				<li class="tp3"><span>3</span></li>
				<li class="tp3"><span>4</span></li>
				<li class="tp3"><span>5</span></li>
				<li class="tp3"><span>6</span></li>
				<li class="tp3"><span>7</span></li>
				<li class="tp3"><span>8</span></li>
				<li class="tp3"><span>9</span></li>
				<li class="tp3"><span>10</span></li>
				<li class="tp3" v-show="isWideTable"><span>11</span></li>
				<li class="tp3" v-show="isWideTable"><span>12</span></li>
				<li class="tp1" v-show="isWideTable"><span>13</span></li>
				<li class="tp1" v-show="isWideTable"><span>14</span></li>
				<li class="tp1" v-show="isWideTable"><span>15</span></li>
				<li class="tp1" v-show="isWideTable"><span>16</span></li>
				<li class="tp1" v-show="isWideTable"><span>17</span></li>
				<li v-show="isWideTable"><span v-on:mouseover="createAlert($event.target.getBoundingClientRect(), 'period-info')" v-on:mouseout="deleteAlert()">18</span></li>
			</ol>
			<div style="display: flex; width: 100%;">
				<ol class="period">
					<li v-for="n in 7":key="'k'+n" class="number-period" v-on:mouseover="createAlert($event.target.getBoundingClientRect(), 'period-info')" v-on:mouseout="deleteAlert()">{{ n }}</li>
				</ol>
				<ol>
					<li is="item-element" v-for="(el, i) in table":key="'c'+i" :data="el"  v-on:element-click="changeLegend"></li>
				</ol>
			</div>	
		</div>
		<div class="alert" v-show="alert.isAlert" :style="alert.coords"><component :is="alert.component"></component></div>
		<div class="modal-window" v-on:mousedown="moveModal" v-on:mousemove="moveModal" v-on:mouseup="moveModal">
			<div class="close-modal-window" onclick="this.parentElement.remove()"><svg enable-background="new 0 0 413.348 413.348" height="10px" viewBox="0 0 413.348 413.348" width="10px" xmlns="http://www.w3.org/2000/svg"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/></svg></div>
			<div class="content-modal-window"><div v-html="modal.text"></div></div>
		</div>
	</div>

	<script src="scripts/elements.js"></script>
	<script src="scripts/script.js"></script>
	<script src="scripts/alert.js"></script>
	<script src="scripts/Lib.js"></script>
	<script src="scripts/picker.js"></script>
	<script src="scripts/calculator.js"></script>
	<script src="scripts/data.js"></script>
	<script src="vue/components.js"></script>
	<script>
		Vue.component("item-element", {
			props: ["data"],
			template: `
			<li class="element-storage" :id="data.sym">
				<div class="element" :class="data.cls" :style="data.st" v-on:click="$emit('element-click', data)">
					<div class="symbol">{{ data.sym }}</div>
					<div class="number">{{ data.num }}</div>
					<div class="Ar">{{ data.Ar }}</div>
					<ol class="oxidation">
						<li v-for="i in data.oxs">{{ i }}</li>
					</ol>
					<div class="name-ru">{{ data.ru }}</div>
					<div class="name-la">{{ data.la }}</div>
				</div>
			</li>`
		});

		Vue.component("period-info", {
			template: `
			<div>
				В периодах справа налево:<br>
				<strong>металлические и восстановительные</strong> свойства <strong>ослабевают</strong><br>
				<strong>неметаллические и окислительные</strong> свойства <strong>усиливаются</strong><br>
				<strong>электроотрицательность увеличивается</strong><br>
				<strong>радиус</strong> атомов <strong>уменьшается</strong>
			</div>`
		});

		let app = new Vue({
			el: "#app",
			data: {
				isWideTable: true,
				legend: {
					sym:"Po", num:"84", Ar:"208,98", oxs:[+4], ru:"Полоний", la:"Polonium",
					cls:"radioactive p metal ",st: {background: "#ffd737",color: "#000"},
					text: `
					<div style="font-size: 18px;">
						<p><h3><big>Правила:</h3></p>
						<ol style="list-style-position: inside;">
							<li>Всю информацию о составляющих <b onclick="a()" style="cursor: pointer;">ячейки</b> таблицы можно найти <a href="https://google.com" style="color: black;text-decoration: none;font-weight: 1000;">здесь</a>.</li>
							<li>Чтобы подробнее узнать о закономерностях в периодах и группах, наведите на их <b onclick="b()">номера</b>.</li>
							<li>Все элементы, расположенные выше жирной линии - <b>неметаллы</b>, ниже - <b>металлы</b>.</li>
							<li>Свойства некоторых <b>элементов</b> расписаны более подробно, нажмите на <b>основные свойства</b> в информации о соответствующем элементе.</li>
							<li>Чтобы подробнее узнать о проекте, нажмите на <b>ИПСХЭ</b></big>.</li>
						</ol>
					</div>`
				},
				alert: {
					isAlert: false,
					component: "",
					coords: {
						top: "0px",
						left: "0px"
					}
				},
				modal: {
					isMouseDown: false,
					text: "asffgdhfgjhkl,kjhngfvdsadfgbhnjm,kl.jmhngfdsvfbnhmjhngfvdcffgbhjmhngfvd"
				},
				table: [
					{ sym:"H", num:"1", Ar:"1,00794", oxs:[+1], ru:"Водород", la:"Hydragenium", cls:"s nmetal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"He", num:"2", Ar:"2,0026", oxs:[0], ru:"Гелий", la:"Helium", cls:"s nmetal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Li", num:"3", Ar:"6,941", oxs:[+1], ru:"Литий", la:"Lithium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Be", num:"4", Ar:"9,0122", oxs:[+2], ru:"Бериллий", la:"Beryllium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"B", num:"5", Ar:"10,811", oxs:[+3], ru:"Бор", la:"Borum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"C", num:"6", Ar:"12,0107", oxs:[+4], ru:"Углерод", la:"Carboneum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"N", num:"7", Ar:"14,0067", oxs:[+4], ru:"Азот", la:"Nitrogenium", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"O", num:"8", Ar:"15,9994", oxs:[-2], ru:"Кислород", la:"Oxygenium", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"F", num:"9", Ar:"18,9984", oxs:[-1], ru:"Фтор", la:"Fluorum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Ne", num:"10", Ar:"20,1797", oxs:[+1], ru:"Неон", la:"Neon", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Na", num:"11", Ar:"22,1797", oxs:[+1], ru:"Натрий", la:"Natrium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Mg", num:"12", Ar:"24,305", oxs:[+2], ru:"Магний", la:"Magnesium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Al", num:"13", Ar:"26,9815", oxs:[+3], ru:"Алюминий", la:"Aluminium", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Si", num:"14", Ar:"28,0855", oxs:[+4], ru:"Кремний", la:"Silicium", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"P", num:"15", Ar:"30,9738", oxs:[+5], ru:"Фосфор", la:"Phosphorus", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"S", num:"16", Ar:"32,066", oxs:[+6], ru:"Сера", la:"Sulfur", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Cl", num:"17", Ar:"35,45", oxs:[+6], ru:"Хлор", la:"Chlorum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Ar", num:"18", Ar:"39,948", oxs:[0], ru:"Аргон", la:"Argon", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"K", num:"19", Ar:"39,0983", oxs:[+1], ru:"Калий", la:"Kalium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Ca", num:"20", Ar:"40,078", oxs:[+2], ru:"Кальций", la:"Calcium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Sc", num:"21", Ar:"44,9559", oxs:[+3], ru:"Скандий", la:"Scandium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ti", num:"22", Ar:"47,867", oxs:[+4], ru:"Титан", la:"Titanium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"V", num:"23", Ar:"50,9415", oxs:[+5], ru:"Ванадий", la:"Vanadium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Cr", num:"24", Ar:"51,9961", oxs:[+3], ru:"Хром", la:"Cromium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Mn", num:"25", Ar:"54,938", oxs:[+2,+4], ru:"Марганец", la:"Manganum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Fe", num:"26", Ar:"55,845", oxs:[+2,+3], ru:"Железо", la:"Ferrum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Co", num:"27", Ar:"58,9332", oxs:[+2], ru:"Кобальт", la:"Cobaltum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ni", num:"28", Ar:"58,6934", oxs:[+2], ru:"Никель", la:"Niccolum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Cu", num:"29", Ar:"63,546", oxs:[+2], ru:"Медь", la:"Cuprum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Zn", num:"30", Ar:"65,38", oxs:[+2], ru:"Цинк", la:"Zincum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ga", num:"31", Ar:"69,723", oxs:[+3], ru:"Галлий", la:"Gallium", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Ge", num:"32", Ar:"72,63", oxs:[+4], ru:"Германий", la:"Germanium", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"As", num:"33", Ar:"74,9216", oxs:[+3], ru:"Мышьяк", la:"Arsenicum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Se", num:"34", Ar:"78,96", oxs:[+4], ru:"Селен", la:"Selenium", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Br", num:"35", Ar:"79,904", oxs:[-1], ru:"Бром", la:"Bromum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Kr", num:"36", Ar:"83,798", oxs:[+2], ru:"Криптон", la:"Krypton", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Rb", num:"37", Ar:"85,4678", oxs:[+1], ru:"Рубидий", la:"Rubidium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Sr", num:"38", Ar:"87,62", oxs:[+2], ru:"Стронций", la:"Strontium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Y", num:"39", Ar:"88,9059", oxs:[+3], ru:"Иттрий", la:"Yttrium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Zr", num:"40", Ar:"91,224", oxs:[+4], ru:"Цирконий", la:"Zirconium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Nb", num:"41", Ar:"92,9064", oxs:[+5], ru:"Ниобий", la:"Niobium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Mo", num:"42", Ar:"95,96", oxs:[+6], ru:"Молибден", la:"Molybdaenum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Tc", num:"43", Ar:"97,907", oxs:[+7], ru:"Технеций", la:"Technetium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ru", num:"44", Ar:"101,07", oxs:[+4], ru:"Рутений", la:"Ruthenium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Rh", num:"45", Ar:"102,9055", oxs:[+3], ru:"Родий", la:"Rhodium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Pd", num:"46", Ar:"106,42", oxs:[+2], ru:"Палладий", la:"Palladium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ag", num:"47", Ar:"107,8682", oxs:[+1], ru:"Серебро", la:"Argentum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Cd", num:"48", Ar:"112,411", oxs:[+2], ru:"Кадмий", la:"Cadmium", cls:"d metal, ", st: {background: "#5ca7e0",color: "#000"}, st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"In", num:"49", Ar:"114,818", oxs:[+3], ru:"Индий", la:"Indium", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Sn", num:"50", Ar:"118,71", oxs:[+4], ru:"Олово", la:"Stannum", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Sb", num:"51", Ar:"121,76", oxs:[+3], ru:"Сурьма", la:"Stibium", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Te", num:"52", Ar:"127,6", oxs:[+4], ru:"Теллур", la:"Tellurium", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"I", num:"53", Ar:"126,9045", oxs:[-1], ru:"Йод", la:"Iodum", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Xe", num:"54", Ar:"131,29", oxs:[+6], ru:"Ксенон", la:"Xenon", cls:"p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Cs", num:"55", Ar:"132,9055", oxs:[+1], ru:"Цезий", la:"Caesium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Ba", num:"56", Ar:"137,327", oxs:[+2], ru:"Барий", la:"Barium", cls:"s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"La", num:"57", Ar:"138,9055", oxs:[+3], ru:"Лантан", la:"Lanthanum", cls:"d metal lanthanide ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Hf", num:"72", Ar:"178,49", oxs:[+4], ru:"Гафний", la:"Hafnium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ta", num:"73", Ar:"180,9479", oxs:[+5], ru:"Тантал", la:"Tantalum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"W", num:"74", Ar:"183,84", oxs:[+6], ru:"Вольфрам", la:"Wolframium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Re", num:"75", Ar:"186,207", oxs:[+7], ru:"Рений", la:"Rhenium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Os", num:"76", Ar:"190,23", oxs:[+8,+4], ru:"Осмий", la:"Osmium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ir", num:"77", Ar:"192,217", oxs:[+3,+4], ru:"Иридий", la:"Iridium", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Pt", num:"78", Ar:"195,084", oxs:[+2,+4], ru:"Платина", la:"Platinum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Au", num:"79", Ar:"196,966", oxs:[+3], ru:"Золото", la:"Aurum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Hg", num:"80", Ar:"200,59", oxs:[+2], ru:"Ртуть", la:"Hydrargyrum", cls:"d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Tl", num:"81", Ar:"204,3833", oxs:[+1], ru:"Таллий", la:"Thallium", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Pb", num:"82", Ar:"207,2", oxs:[+2], ru:"Свинец", la:"Plumbum", cls:"p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Bi", num:"83", Ar:"208,9804", oxs:[+3], ru:"Висмут", la:"Bismuthum", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Po", num:"84", Ar:"208,98", oxs:[+4], ru:"Полоний", la:"Polonium", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"At", num:"85", Ar:"[210]", oxs:[+4], ru:"Астат", la:"Astatium", cls:"radioactive p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Rn", num:"86", Ar:"[222]", oxs:[+2], ru:"Радон", la:"Radon", cls:"radioactive p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Fr", num:"87", Ar:"[223]", oxs:[+1], ru:"Франций", la:"Francium", cls:"radioactive s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Ra", num:"88", Ar:"226,025", oxs:[+2], ru:"Радий", la:"Radium", cls:"radioactive s metal ", st: {background: "#fe83b5",color: "#000"}},
					{ sym:"Ac", num:"89", Ar:"227,0278", oxs:[+3], ru:"Актиний", la:"Actinium", cls:"radioactive d metal actinoid ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Rf", num:"104", Ar:"[261]", oxs:[], ru:"Резерфордий", la:"Rutherfordium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Db", num:"105", Ar:"[262]", oxs:[], ru:"Дубний", la:"Dubnium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Sg", num:"106", Ar:"[263]", oxs:[], ru:"Сиборгий", la:"Seaborgium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Bh", num:"107", Ar:"[267]", oxs:[], ru:"Борий", la:"Bohrium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Hs", num:"108", Ar:"[269]", oxs:[], ru:"Хассий", la:"Hassium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Mt", num:"109", Ar:"[278]", oxs:[], ru:"Мейтнерий", la:"Meitnerium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Ds", num:"110", Ar:"[281]", oxs:[], ru:"Дармштадтий", la:"Darmstadtium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Rg", num:"111", Ar:"[281]", oxs:[], ru:"Рентгений", la:"Roentgenium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Cn", num:"112", Ar:"[262]", oxs:[], ru:"Коперниций", la:"Copernicium", cls:"radioactive d metal ", st: {background: "#5ca7e0",color: "#000"}},
					{ sym:"Nh", num:"113", Ar:"[283]", oxs:[], ru:"Нихоний", la:"Nihonium", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Fl", num:"114", Ar:"[289]", oxs:[], ru:"Флеровий", la:"Flerovium", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Mc", num:"115", Ar:"[289]", oxs:[], ru:"Московий", la:"Moscovium", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Lv", num:"116", Ar:"[293]", oxs:[], ru:"Ливерморий", la:"Livermorium", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Ts", num:"117", Ar:"[294]", oxs:[], ru:"Теннессин", la:"Tennessine", cls:"radioactive p metal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Og", num:"118", Ar:"[294]", oxs:[0], ru:"Оганесон", la:"Oganesson", cls:"radioactive p nmetal ", st: {background: "#ffd737",color: "#000"}},
					{ sym:"Ce", num:"58", Ar:"140,116", oxs:[+3], ru:"Церий", la:"Cerium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Pr", num:"59", Ar:"140,9077", oxs:[+3], ru:"Празеодим", la:"Praseodymium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Nd", num:"60", Ar:"144,24", oxs:[+3], ru:"Неодим", la:"Neodymium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Pm", num:"61", Ar:"[145]", oxs:[+3], ru:"Прометий", la:"Promethium", cls:"radioactive f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Sm", num:"62", Ar:"150,36", oxs:[+3], ru:"Самарий", la:"Samarium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Eu", num:"63", Ar:"151,964", oxs:[+3], ru:"Европий", la:"Europium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Gd", num:"64", Ar:"157,25", oxs:[+3], ru:"Гадолиний", la:"Gadolinium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Tb", num:"65", Ar:"158,9253", oxs:[+3], ru:"Тербий", la:"Terbium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Dy", num:"66", Ar:"162,5", oxs:[+3], ru:"Диспрозий", la:"Dysprosium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Ho", num:"67", Ar:"164,9303", oxs:[+3], ru:"Гольмий", la:"Holmium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Er", num:"68", Ar:"167,26", oxs:[+3], ru:"Эрбий", la:"Erbium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Tm", num:"69", Ar:"168,9342", oxs:[+3], ru:"Тулий", la:"Thulium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Yb", num:"70", Ar:"173,045", oxs:[+3], ru:"Иттербий", la:"Ytterbium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Lu", num:"71", Ar:"174,967", oxs:[+3], ru:"Лютеций", la:"Lutetium", cls:"f-light metal ", st: {background: "#90cd8e",color: "#000"}},
					{ sym:"Th", num:"90", Ar:"232,038", oxs:[+4], ru:"Торий", la:"Thorium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Pa", num:"91", Ar:"231,036", oxs:[+5], ru:"Протактиний", la:"Protactinium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"U", num:"92", Ar:"238,029", oxs:[+6], ru:"Уран", la:"Uranium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Np", num:"93", Ar:"237,048", oxs:[+5], ru:"Нептуний", la:"Neptunium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Pu", num:"94", Ar:"[244]", oxs:[+3,+4], ru:"Плутоний", la:"Plutonium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Am", num:"95", Ar:"[243]", oxs:[+3], ru:"Америций", la:"Americium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Cm", num:"96", Ar:"[247]", oxs:[+3], ru:"Кюрий", la:"Curium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Bk", num:"97", Ar:"[247]", oxs:[+3], ru:"Берклий", la:"Berkelium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Cf", num:"98", Ar:"[251]", oxs:[+3], ru:"Калифорний", la:"Californium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Es", num:"99", Ar:"[252]", oxs:[+3], ru:"Эйнштейний", la:"Einsteinium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Fm", num:"100", Ar:"[257]", oxs:[+3], ru:"Фермий", la:"Fermium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Md", num:"101", Ar:"[258]", oxs:[+3], ru:"Менделевий", la:"Mendelevium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"No", num:"102", Ar:"[259]", oxs:[+2], ru:"Нобелий", la:"Nobelium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}},
					{ sym:"Lr", num:"103", Ar:"[260]", oxs:[+3], ru:"Лоуренсий", la:"Lawrencium", cls:"radioactive f-dark metal ", st: {background: "#78bd62",color: "#000"}}
				]
			},
			methods: {
				createAlert: function(coords, component) {
					this.alert.component = component;
					this.alert.isAlert = true;
					let windowWidth = document.documentElement.clientWidth;
					let width = 450;
					let left = coords.right + width < windowWidth ?  coords.right + "px" : coords.left - width + "px";
					this.alert.coords = {
						top: coords.top + "px",
						left: left
					}
				},
				deleteAlert: function() {
					this.alert.isAlert = false;
				},
				changeLegend: function(data) {
					document.documentElement.scrollIntoView();
					this.legend.sym = data.sym;
					this.legend.num = data.num;
					this.legend.Ar = data.Ar;
					this.legend.oxs = data.oxs;
					this.legend.ru = data.ru;
					this.legend.la = data.la;
					this.legend.cls = data.cls;
					this.legend.st = data.st;
					this.legend.text = elements[data.sym].infoChemistryElement; 
				},
				moveModal: function(e) {
					let modal = e.currentTarget;
					let shiftX, shiftY;
					if(e.type === "mousedown") {
						this.modal.isMouseDown = true;
						shiftX = e.clientX - modal.getBoundingClientRect().left;
						shiftY = e.clientY - modal.getBoundingClientRect().top;
						modal.style.left = e.clientX + "px";
						console.log(modal.style.left);
					}
					if(e.type === "mouseup") this.modal.isMouseDown = false;

					if(this.modal.isMouseDown === true) {
						console.log(shiftX)
						
						console.log(e);
					}

				}
			}
		});
		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		picker.init();
		document.getElementById("tableMendeleev").onmouseover =
		 document.getElementById("tableMendeleev").onmouseout = createAlert;
		let elementLegend = document.getElementById("element-legend");
		for (let i = 0; i < document.getElementsByClassName("element").length; i++) {
			document.getElementsByClassName("element")[i].onclick = showItemInformation;
		}

		function change(element) {
			abcde.classList.toggle("active");
			abcde = element;
			abcde.classList.toggle("active");
		}


		function changeColors() {
			for(let i=0; i<localStorage.length; i++) {
				let key = localStorage.key(i);
				for (let i = 0; i < document.getElementsByClassName(key).length; i++) {
					document.getElementsByClassName(key)[i].style.background = localStorage.getItem(key);
				}
			}
		}


		if (localStorage.length) {
			changeColors();
		}


		function changeDefaultColors() {
			localStorage.setItem("s", "#fe83b5");
			localStorage.setItem("p", "#ffd737");
			localStorage.setItem("d", "#5ca7e0");
			localStorage.setItem("f-light", "#90cd8e");
			localStorage.setItem("f-dark", "#78bd62");
			changeColors();
		}


		function toggleColorPicker() {
			document.querySelector("header").classList.toggle("picker-active");
			document.getElementById("color-selection").classList.toggle("active");
		}


		function createModalWindow(data) {
			if(document.querySelector(".modal-window")) document.querySelector(".modal-window").remove();
			document.body.insertAdjacentHTML("afterbegin",`
				
			`);
			let modalWindow = document.querySelector(".modal-window");
			modalWindow.style.width = modalWindow.offsetWidth + "px";


			modalWindow.onmousedown = function(event) {
				let shiftX = event.clientX - modalWindow.getBoundingClientRect().left;
				let shiftY = event.clientY - modalWindow.getBoundingClientRect().top;


				function moveAt(pageX, pageY) {
					if(pageX - shiftX < 0) modalWindow.style.left = 0;
					else if(pageX - shiftX > document.documentElement.scrollWidth - modalWindow.offsetWidth) modalWindow.style.left = document.documentElement.scrollWidth - modalWindow.offsetWidth + "px";
					else modalWindow.style.left = pageX - shiftX + "px";
					if (pageY - shiftY < 0) modalWindow.style.top = 0;
					else if (pageY - shiftY > document.documentElement.scrollHeight - modalWindow.clientHeight - 10) modalWindow.style.top = document.documentElement.scrollHeight - modalWindow.clientlHeight - 10 + "px";
					else modalWindow.style.top = pageY - shiftY + "px";		
				}


				function onMouseMove(event) {
					modalWindow.style.userSelect = "none";
					moveAt(event.pageX, event.pageY);
				}


				document.querySelector(".content-modal-window").querySelector("span").onmousedown = function(e) {
					e.stopPropagation();
					document.removeEventListener('mousemove', onMouseMove);
				}

				window.onresize = onMouseMove;
				document.addEventListener('mousemove', onMouseMove);

				modalWindow.onmouseup = function() {
					document.removeEventListener('mousemove', onMouseMove);
					modalWindow.onmouseup = null;
					modalWindow.style.userSelect = "auto";
				}

				window.addEventListener('mouseup', modalWindow.onmouseup);
			}

		}

        let active = false;


        function highlight(cls) {
			if(!active) {
			active = true;	
				for (let i = 0; i < document.getElementsByClassName(cls).length; i++) {
					document.getElementsByClassName(cls)[i].classList.toggle('active');
					setTimeout(() => document.getElementsByClassName(cls)[i].classList.toggle('active'), 500);
				}
			setTimeout(() => active = false, 1000);			
			}
		}


		function a() {
			let rNum = getRandomInt(0, 117)
			document.getElementsByClassName("element")[rNum].classList.toggle('active');
			setTimeout(() => document.getElementsByClassName("element")[rNum].classList.toggle('active'), 500);
		}


		function b() {
			for (item of document.getElementsByClassName("number-group")) {
				item.classList.toggle('active');
			}
			setTimeout(() => {
				for (item of document.getElementsByClassName("number-group")) {
					item.classList.toggle('active');
				}
			}, 500);
			for (item of document.getElementsByClassName("number-period")) {
				item.classList.toggle('active');
			}
			setTimeout(() => {
				for (item of document.getElementsByClassName("number-period")) {
					item.classList.toggle('active');
				}
			}, 500);
		}


	</script>
</body>

</html>
