/*--------------------------------ALL--------------------------------*/
*{
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body{
	background: #dfe6e9;
	height: 100%;
}

/*-------------------------------/ALL--------------------------------*/
/*Elements*/
.clear{
	clear: both;
}
.vw{
	font-size: 1vw;
}
/*/Elements*/
#basicPropertiesInformationAll{
 	display: none;
 	position: absolute;
 	left: 0;top: 50px;
 	width: 80%;
 	z-index: 100;
 	background: white;
}
#descriptionElement p{
	position: relative;
	max-height: 98%;
	top: 2%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	padding: 4px;
	border: 1px solid black;
	overflow: auto;
	font-size: 150%;
	z-index: 2;
}
img{
	user-select: none;
}
#background{
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}
.inputMolarMass{
	margin-bottom: 10px;
	text-align: center;
}
.calcSumAr{
	right: 0;
	top: 50px;
	position: absolute;
	width: 500px;
	background: #d2dae2;
	z-index: 6;
}
.all{
	padding: 10px;
}
#result-all-blocks{
	width: 240px;
	float: left;
	margin-top: 10px;
	display: none;
}
#molarMassPlots{
	width: 240px;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
#molar-mass-calculation-result{
	text-align: center;
}
#molar-mass-calculator-movement{
	background-color: #485460;
	height: 20px;
}
.name-solubility-table{
	font-size: 6vw;
	text-align: center;
}
#closeBasicPropertiesInformationAll, #close-molar-mass-calculator{
	text-align: center;
	float: right;
	width: 30px;
	font-size: 16px;
	line-height: 20px;
	user-select: none;
	transition: 0.2s;
	color: white;
}
#closeBasicPropertiesInformationAll:hover, #close-molar-mass-calculator:hover{
	background: red;
	color: white;
}
#basicPropertiesInformation{
	padding: 3px;
	background: #d2dae2;
}
#formula{
	border: 0;
	width: 250px;
	height: 25px;
	font-size: 17px;
	padding: 1px;
}
#input-button-calc{
	border: 0;
	background: #05c46b;
	color: white;
	font-size: 18px;
	line-height: 0;
	height: 27px;
	width: 40px;
	transition: 0.2s;
}
#input-button-calc:hover{
	background: #0be881;
	border-radius: 5px;
}
#trivial-box, #subgroup-box{
	position: fixed;
	z-index: 100;
	display: none;
}
#trivial-triangle-left, #trivial-triangle-right, #subgroup-triangle-left, #subgroup-triangle-right{
	width: 0;
	height: 0;
	margin-top: 1px;
	display: none;
}
#trivial-triangle-left, #subgroup-triangle-left{
	border-top: 8px solid transparent;
	border-right: 8px solid white;
	border-bottom: 8px solid transparent;
	vertical-align: top;
}
#trivial-triangle-right, #subgroup-triangle-right{
	border-top: 8px solid transparent;
	border-left: 8px solid white;
	border-bottom: 8px solid transparent;
	vertical-align: top;
}
#text-trivial-chemical-name, #text-subgroup-chemical-name{
	border-radius: 2%;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	padding: 2px;
}
/*Full stop!*/
@media screen and (max-width: 500px) {
	.tableTable{
		width: 500px;
	}
	header{
		width: 500px;
	}
	.vw{
		font-size: 5px;
	}
	.solubilityTable{
		font-size: 8px;
	}
	.name-solubility-table{
		font-size: 30px;
		text-align: center;
	}
}

/*----------------------GAMES----------------------*/

.storage-games{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.game-selection{
	margin: auto;
	width: 75%;
	height: 50%;
	position: relative;
}
.game-inorganic, .game-common, .game-organics{
	top: 75%;
	width: 32%;
	height: 30%;
	background-color: white;
	position: relative;
	display: inline-block;
}
.ol-game{
	list-style: none;
	height: 100%;
}
.ol-game li{
	position: absolute;
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: 0.7s;
	opacity: 0;
}
.ol-game li div{
	cursor: pointer;
	z-index: 2;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: red;
}
li.test{
	bottom: 0;
}
.game-inorganic:hover li, .game-common:hover li, .game-organics:hover li{
	opacity: 1;
}
.game-inorganic:hover li.test, .game-common:hover li.test, .game-organics:hover li.test{
	padding-bottom: 20vh;
}
.game-inorganic:hover li.speedTest, .game-common:hover li.speedTest, .game-organics:hover li.speedTest{
	padding-top: 20vh;
}
#gamesStorage{
	user-select: none;
	display: none;
	z-index: 10;
	left: 10%;
	margin-top: 55px;
	top: 5%;
	width: 80%;
	height: 80vh;
	position: absolute;
	background-color: white;
}
#game1NeedChemicalName {
	text-align: center;
	margin-top: 25px;
	font-weight: 900;
	font-size: 32px;
	height: 32px;
}
.game1-storage-chemical-names{
	margin-top: 3vh;
	padding-left: 1vw;
	height: 100%;
	position: relative;
}
.game1-block-chemical-name{
	cursor: pointer;
	margin-top: 2vh;
	margin-left: 1.5vw;
	box-sizing: border-box;
	padding-top: 9vh;
	height: 20vh;
	width: 46%;
	display: inline-block;
	background-color: #c3c3c3;
	text-align: center;
	transition: 0.5s;
}
#game1Hearts, #game1Exit1, #game1Score{
	position: absolute;
}
#game1Exit1{
	cursor: pointer;
	font-size: 70px;
	line-height: 16px;
	top: 14px;
	left: 3px;
}
#game1Score{
	right: 8px;
	top: 3px;
}
#game1Hearts{
	top: 0;
	font-size: 32px;
	left: 70px;
	color: red;
}
#game1Result{
	display: none;
	position: absolute;
	z-index: 1;
	top: 0;left: 0;right: 0;bottom: 0;
	background-color: white;
}
#game1Record{
	font-size: 32px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.game1-block-chemical-name:hover{
	background-color: #a3a3a3;
}
#game1Restart, #game1Exit2{
	margin-left: 22vw;
	font-size: 32px;
	cursor: pointer;
	margin-top: 2vh;
	padding-top: 3vh;
	height: 8vh;
	width: 46%;
	background-color: #c3c3c3;
	text-align: center;
	transition: 0.5s;
}
#game1Restart:hover, #game1Exit2:hover{
	background-color: #a3a3a3;
}
/*----------------------/GAMES---------------------*/
