#color-selection{
	width: 335px;
	z-index: 200;
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.picker{
	position: relative;
	display: flex;
	justify-content: space-between;	
	-moz-user-select: none;
	  -webkit-user-select: none; 
	  width:215px;
}
#block-picker{
	background-color:red;
	height:180px;
	width:180px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
	  -webkit-user-select: none;
}
#block-picker img {
	width:180px;
}
#line {
	position: relative;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
	  -webkit-user-select: none;	
}
.color-li-background{
	position: relative;
	cursor: pointer;
	width: 31px;
	height: 31px;
	margin: 0 5px 7px 15px;
	border: 1px solid #dfe6e9;
	box-sizing: border-box;
	padding: 1px;
}
.color-li-color{
	height: 31px;
	margin: 0 0 7px 5px;
	line-height: 31px;
	font-size: 31px;
	color: #000000;
	text-shadow: #ffffff 0 0 1px;
	user-select: none;
	cursor: pointer;
}
.color-li-color.active{
	text-shadow: gold 0 0 2px;
	text-shadow: #000000 0 0 2px;
}
#colors-by-default{
	font-family: Arial;
	font-size: 20px;
	color: #b2bec3;
	cursor: pointer;
}
#colors{
	display: flex;
}
#colors svg{
	display: none;
}
#colors .active svg{
	display: block;
}

.right_arrow {
	width:0;
	height:0;
	left:23px;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid transparent;
	border-top:6px solid transparent;
	border-right:10px solid black;
}
.left_arrow {
	width:0;
	height:0;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid black;
	border-top:6px solid transparent;
	border-right:8px solid transparent;
	
}
#arrows {
	position:absolute;
	top:0;
	margin-top:-4px;
	left:-11px;
	width:40px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
	  -webkit-user-select: none;        
	
}
#circle {
	width:8px;
	height:8px;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
	  -webkit-user-select: none;   
}